navbar {
  background-color: rgb(12, 12, 12) !important;

  font-weight: 600;
  border-bottom: 0.1px solid #393333 !important;
  position: sticky;
  top: 0px ;
  z-index: 100;
  border-top: 0.1px solid #565555;
  border-left: 0.1px solid #393333;
  border-right: 0.1px solid #393333;
}

.affix-album {
height: 4rem;
background-color: #111111!important;
}


overlay-navbar {
  background: linear-gradient(
    to bottom,
  
    #111111,   
    #172554, 
    #111111      
  );
 
}
