@media only screen and (max-width: 767px) {
  li {
    list-style: none;
  }

  .albumdetail-wrapper-list {
    margin-top: 75px;
    margin-left: 7px;
  }

  .cust-serc-albdetl {
    margin-top: -2rem;
  }
}
