
.playst-search{
margin-top: -2.5rem;

}

.pt-search-plyst{
    padding-bottom: 1px;
  padding-left: 10px;
  }

  .playst-add{
    padding-top: 1rem;
  }

  .bg-gray-cstm{
    background-color: rgb(66, 65, 65);

  }