/* DefaultHomePage.css */

.main-container{
  text-align: center;
  margin-top: 15rem;
}

.qr-code-container {
  display: inline-block;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.qr-code-container svg {
  position: relative;
}

.custm-qr-stylin{
font-size: 25px;

}
