@media only screen and (max-width: 767px) {
  .menu-style {
    font-size: 1rem;
    text-decoration: none;
  }

  .custom-menu .ant-menu-item {
    border-bottom: 0.2px solid #ccc;
    padding-bottom: 4px;
  }
  .custom-menu-item {
    border: 0.1px solid #696464;
    padding: 10px 20px 10px 20px;
   
  }



  .green {
    background-color: black !important;
  }

  .text-4xl-custom{
    font-size: 2.8rem;
  }
  .text-4xl-custom-md{
    font-size: 2.2rem;
  }
  @keyframes breathe {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Apply the breathe animation to elements with the .hi-animation class */
  .hi-animation {
    animation: breathe 7s infinite ease-in-out!important; /* Adjust the duration and other parameters as needed */
  }
}