.edi-playlist-style{
    padding-top: 1rem;
    padding-left: 1rem;
}

.mod-backgnd-bg {
    background-color:black!important;
}


.mod-backgnd {
    background-color: #18181b!important;
}

.gap-cusm-plylt{
    gap: 25px;
    padding-top: px;
}