@media only screen and (max-width: 767px) {
.search-input{

  border-collapse: collapse ;
  border: transparent;
}


input-custom{
height: 20%;
border: none;

}

custon-sty {
  padding-inline-end: rem;
}

custom-inp-sty{
  padding-inline-end: rem!important;
}

input::placeholder {
  color: #999;
}

.ml-log-custm {
  margin-top: 0.4rem;
  margin-inline-end: rem;
}

.py-custom{
  padding: 11px 110px 11px 30px ;
}


.ml-cutom{
  margin-inline-start: 10rem;
}

.pt-custome{
  padding-top: 40px;
}
}