@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

.album-image {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.album-image:hover {
  animation: breathing 4s infinite;
  transform: scale(1.1);
}
.album-cover-song {
  border-radius: 4%;
  width: 240px;
  height: 240px;
  overflow: hidden;

}

.pl-custm-drp{
padding-left: 9rem;
padding-top: 50px;
}

.album-son{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pt-custom{
  padding-top: 60px;
}

.pt-cust-song{
  padding-top:70px;
}

.c-stom {
 padding-bottom: rem;
}

.pt-custo-date{
  padding-top: 85px;
  padding-left: 10px;
}

.album-mp3{
  border-radius: 4%;
  width: 120px;
  height: 130px;
  overflow: hidden;
}

.track-name,
.track-artist {
}
