.hover-cust-play{
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hover-cust-play-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-cover-plylls{

}
