
@media only screen and (max-width: 767px) {
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       padding-left: 100px;
      }

      .Artist-cover{
     height: 150px;
      width: 300px;
     margin-top: 100px;
margin-left: 70px;
    overflow: hidden;
    }
    
    
    .art-img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 100%;

    }
    

.pt-ar {


 
}


  }
  











  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
  
  @media only screen and (min-width: 1024px) {

  }
    