

album-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .track-list {
    list-style-type: none;
    padding: 0;
  }
  
  .track-list li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .track-number {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .track-info {
    font-size: 16px;
    display: flex;
justify-content: space-around;
  }
  
  .li-style{
    font-size: 0.7rem;
  }

  .album-detail-continer-track{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .album-cover-track{
    border-radius: 4%;
    width: 300px;
    height: 340px;
    overflow: hidden;
  }

  .mt-custome-traklst{
  margin-top: -1rem!important;

  text-align: center;
  }


  .mt-custm-trk-lst{
    padding-top: 25px;
  }

  .mt-indctor{
    padding-top: 13px;
  }

  .album-cover-track img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    display: block;
    border: none; 
    padding: 0; 
    margin: 0; 
  
  }

  .albm-wrapper-trk{
padding-top: 80px;
  }

  #li-styl-h-trk{
    padding-top: 10px;
   margin-bottom: -3px;
    font-size: 18px;
    font-weight: 600;
    color: #b9afaf;
    text-align: center;
    text-transform: capitalize;
  }

  #li-styl-art-trk{
    font-size: 16px;
    font-weight: 400;
  text-align: center;
  color:  #be185d;
  }

  .li-style-dte-gnr-trk{
    font-size: 13px;
    font-weight: 400;
  text-align: center;
  color: #a8a29e;
  }

  #spn-gnr{
    padding-inline-end: 2px;
  }

  #span-rel-dte{
  
  }




  .btn-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

.hover-bg-cstm:hover{
background-color: black!important;
padding: 5px 5px 10px 5px;
}

.hover-bg-cstm {
  
  transition: background-color 0.3s, padding 0.3s; 
}
.btn-wrapper button {
  padding: 10px 40px 10px 40px;

}

.cutom-track{
  margin-bottom: 0;
  padding: 0;
}

.alm-ply-icn {
  margin-right: 5px; 
  vertical-align: middle; 
  font-size: 17px;
  color:#be185d;
}

.ply-icn {
  vertical-align: middle; 
  font-weight: 600;
  color:#be185d;
}



.custm-mu-item-track{
  border: 0.1px solid #363636;
  padding: 10px;
}

custm-mu-item-track:hover {
  transition: border-bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}







.overlay {

  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    
    #172554, 
    #111111,   
    #111111      
  );

}



