.affix-album {

    height: 80px;
    background-color: rgb(20, 19, 19)!important;
    transition: background-color 0.3s ease; /* Add transition effect */
}

logo-img-albm {
  width: 20%;
  height: auto;
}

.w-custm-nav {
  width: 20%;
  height: auto;
}
