.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame-image {
  position: relative;
}

img {
  width: 200px;
}

.loading-dots {
  display: flex;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fefdfd;
  margin: 0 5px;
  opacity: 0;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
