
body {
  background-color: #ffffff; 
  color: #0c0b0b;
  
}


body.dark {
  background-color: black;
  color: #ffffff; 
}


  

@media only screen and (max-width: 767px) {
  
/* body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(39, 37, 37) ; */
	/* background-color: rgb(20, 19, 19);

} */

body {
  background-color:#f8fafc; 
  color: #0c0b0b;
  padding-bottom: 1.5rem;
}


body.dark {
  background-color: #111111;
  color: #ffffff; 
}



.audio-player {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
}

.display-track {
  display: flex;
  align-items: center;
}

.audio-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.audio-image img {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
}

.audio-icon {
  font-size: 48px;
  color: #888;
}

.progress {
  display: flex;
  align-items: center;
}

input[type="range"] {
  width: 100%;
}


}



    