@media only screen and (max-width: 767px) {
.desktp-none{
  display: none;
}

h2 {
  padding-left: 0.9rem;
  font-size: 1.2rem;
}

.home-style-position {
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  text-decoration: none;
  text-transform: capitalize;
}

.pt-cusm-hom{
  padding-top: 5.7rem;
}

li {
  font-size: 4rem;
  list-style-type: none;
}

.home-button-style {
  display: flex;
  justify-content: center;
}

.gap{
 gap: 26px;
}

.home-features li {
  font-size: 30px;
  padding: 13px;
  color: rgb(28, 75, 76);
  font-family: "Times New Roman", Times, serif;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.home-features li {
  animation: breathe 3s infinite;
  font-size: 20px;
  color: rgb(114, 117, 119);
  margin-inline-end: 8px;
  text-transform: capitalize;
}

.home-features li:nth-child(2) {
  animation-delay: 1s;
}

.home-features li:nth-child(3) {
  animation-delay: 2s;
}

.icon-hm-sty-play {
  font-size: 70px;
  color: rgb(114, 117, 119);
  margin-inline-end: 8px;
}

.icon-hm-sty-play:hover {
  color: rgb(140, 137, 137);
}

.icon-hm-sty-build {
  font-size: 70px;
  color: rgb(114, 117, 119);
  margin-inline-end: 8px;
}

.lnk-hm-sty {
  text-decoration: none;
  color: rgb(114, 117, 119);
}

.icon-hm-sty-share {
  font-size: 70px;
  color: rgb(162, 166, 169);
  margin-inline-end: 8px;
}

Link {
  text-transform: capitalize;
}

.image-style {
  text-align: center;
}


#li-styl-hme {

  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600px;

 padding-top: 0.2rem;
}

#li-styl-h-hme {
  font-size: 0.9rem;
  margin-left: 2px;
}


.cst-home{
  background-color: #111111;
padding-bottom: 2rem;
}

}





@media only screen and (min-width: 1024px) {
  /* layout-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  left-side, .center, .right-side {
    flex: 1;
    padding: 20px;
  }
  
  left-side {
    background-color: black;
  }
  
  right-side {
    background-color: #e0e0e0;
  }
  
  center {
    flex: 2; 
    background-color: #d0d0d0;
  } */

  .mobile-none{
    display: none;
  }

 
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mobile-none{
    display: none;
  }
  }