@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .desktp-none {
    display: none;
  }

  h2 {
    padding-left: 0.9rem;
    font-size: 1.2rem;
  }

  .home-style-position {
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    text-decoration: none;
    text-transform: capitalize;
  }

  .pt-cusm-hom {
    padding-top: 5.7rem;
  }

  li {
    font-size: 4rem;
    list-style: none;
  }

  /* Centered button styling */
  .home-button-style {
    display: flex;
    justify-content: center;
  }

  /* Gap adjustment */
  .gap {
    gap: 26px;
  }

  .home-features li {
    font-size: 20px;
    padding: 13px;
    color: rgb(114, 117, 119);
    font-family: "Times New Roman", Times, serif;
    animation: breathe 3s infinite;
    margin-inline-end: 8px;
    text-transform: capitalize;
  }

  @keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .home-features li:nth-child(2) {
    animation-delay: 1s;
  }

  .home-features li:nth-child(3) {
    animation-delay: 2s;
  }

  .icon-hm-sty-play,
  .icon-hm-sty-build,
  .icon-hm-sty-share {
    font-size: 70px;
    color: rgb(114, 117, 119);
    margin-inline-end: 8px;
  }

  .icon-hm-sty-play:hover,
  .icon-hm-sty-build:hover {
    color: rgb(140, 137, 137);
  }

  .icon-hm-sty-share {
    color: rgb(162, 166, 169);
  }

  .lnk-hm-sty {
    text-decoration: none;
    color: rgb(114, 117, 119);
  }

  .image-style {
    text-align: center;
  }

  #li-styl-hme {
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
    padding-top: 0.2rem;
  }

  #li-styl-h-hme {
    font-size: 0.9rem;
    margin-left: 2px;
  }

  .cst-home-container {
    background-color: #111111;
    padding: 6rem 2rem 6rem 2rem;
  }

  .album-cover-home {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }

  .album-image-homep {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .cst-home-container {
    padding: 1rem 0.5rem 3rem 0.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-none {
    display: none;
  }
}
