.body{
    padding-bottom: 10rem;
}

.song-card-search{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0.1px solid rgb(43, 43, 43);
}

.song-image-srch{
    border-radius: 4%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.song-image-cover-srch{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custm-color{
    color: #be185d;
}


.pl-custm-drp-song{
    padding-left: 10.5rem;
    padding-top: 3px;
    }

    .pt-custo-date-song{
        padding-top: 60px;
        padding-left: 18px;
      }